.page__bd {
    position: relative;
}

.weui_tab_bd_item {
    display: none;
    height: 100%;
    overflow: auto;
}

.weui_tab_bd_item.weui_tab_bd_item_active {
    display: block;
}

body {
    height: 100%
}

#qrcode {
    margin-top: 20px
}

#student-table {
    table-layout: fixed;
    text-align: center;
}

#promoter-table {
    table-layout: fixed;
    text-align: center;
}

table tr {
    height: 40px
}

.table_head {
    background: #24C290;
    color: white
}

.odd {
    background: #D5FFF2;
}

.even {
    background: #F0FFFA;
}

#qrcode_hint {
    color: #666666;
    margin-top: 15px;
}

#head_img {
    width: 46px;
    height: 46px;
    float: left;
}

#head_img2 {
    width: 46px;
    height: 46px;
    float: left;
}

#sex {
    width: 20px;
    height: 33px;
}

#sex2 {
    width: 20px;
    height: 33px;
}

.div_center {
    width: 192px;
    text-align: center;
    margin: auto;
}

.weui-navbar__item {
    font-size: 14px
}