.page__bd {
    position: relative;
}

.weui_tab_bd_item {
    display: none;
    height: 100%;
    overflow: auto;
}

.weui_tab_bd_item.weui_tab_bd_item_active {
    display: block;
}

body{
    height:100%
}

#qrcode{
    margin-top: 20px
}

#student-table{
    table-layout: fixed;
}