#title {
    margin-top: 20px;
    margin-bottom: 20px
}

#qrcode {
    text-align: center;
    margin: auto;
    margin-top: 20px
}

.div_center {
    width: 192px;
    text-align: center;
    margin: auto;
    margin-top: 10%
}

#hint {
    margin-top: 20px;
    font-size: 16px;
    color: #000000;
    font-weight: bold
}